@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./form.css');
@import url('./building.css');

:root {
  --color-primary: #E9A8F2;
  --color-primary_dark: #DC84F3;
  --color-primary_light: #F3CCF3;
  --color-white: #F5F7F8;
  --color-gray: #686D76;
  --color-gray_dark: #373A40;
  --color-gray_light: #bebebe;
  --color-gray_lighter: #eee;
  --shadow: #686D7655;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--color-white);
  background-image: url('../images/wall_texture.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.mx-container {
  padding: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.heading-1 {
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: var(--color-gray_dark);
  color: var(--color-white);
  padding: .3rem 1.6rem;
  letter-spacing: 1px;
  font-weight: 900;
}

.btn {
  border: none;
  padding: .6rem 1rem;
  border-radius: .3rem;
  background-color: var(--color-gray_dark);
  color: var(--color-white);
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  opacity: .9;
}

.btn:active {
  opacity: 1;
}

.text-center {
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-white); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-gray); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray_dark); 
}
